@media (max-width: 1280px) {
    body {
        padding: 0 40px;
    }

}

@media (max-width: 768px) {
    .Informacoes.ativa {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Informacoes .Descricao {
        width: 60%;
        text-align: center;
    }

}

@media (max-width: 425px) {
    body {
        padding: 40px;
    }

    .Informacoes .Descricao {
        width: 100%;

    }

    .Conteudo {
        min-height: 70vh;
        gap: 50px;
    }
}